<h2>Admin</h2>
<ul>
	<li><%= link_to 'Administer Users', admin_users_path %></li>
	<li><%= link_to 'Administer Albums', admin_albums_path %></li>
	<li><%= link_to 'Administer Artists', admin_artists_path %></li>
	<li><%= link_to 'Administer Labels', admin_labels_path %></li>
	<li><%= link_to 'Administer Reviews', admin_reviews_path %></li>
</ul>