<%= title "Add " + @artist_name, :h2 %>

<p>We couldn't find <%= @artist_name %> in our files. Would you like to add them?</p>

<p><%= link_to "Oops! That's not who I wanted to review &gt;", prelookup_artists_path %></p>

<h4>If you want to add this artist, please complete the information below</h4>

<% form_for :artist, :html => { :multipart => true }, :url => artists_path do |form| %>
	
  <%= flash[:notice] %>
  <%= form.error_messages %>

  <label>Artist Name:</label>
  <p><%= @artist_name %></p>
  <%= form.hidden_field :name, :value => @artist_name %>

  <p><label>Upload an image for <%= @artist_name %>:</label>
  <%= form.file_field :photo %></p>

  <p><%= check_box_tag '1' %> I do hereby certify that I have a legal right to copy and distribute this image.</p>

  <p>
    <%= form.submit "Add #{@artist_name}" %>
  </p>
<% end %>
