<%= title "New Artist", :h2 %>

<% form_for(@artist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>:<br />
    <%= text_field_with_auto_complete :artist, :name %>
  </p>
  <p>
    <%= f.submit "To Albums" %>
  </p>
<% end %>
