<%= title "Administer Users", :h2 %>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Join Date</th>
			<th>Roles</th>
		</tr>
	</thead>
	<tbody>
	<% for user in @users %>
		<tr>
			<td><%= link_to user.name, user_path(user) %></td>
			<td><%= user.created_at %></td>
			<td><% for role in user.roles %><%= role.name %><% end %> | <%= link_to 'edit roles', user_roles_path(user) %></td>
		</tr>
	<% end %>
</table>
