<%= title "Edit Your Profile", :h2 %>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend>Your Details</legend>
		<ol>
			<li>
				<%= f.label :name, 'Name' %>
				<%= f.text_field :name %>
			</li>
		</ol>
	</fieldset>
	<div class="buttons">
		<%= submit_tag 'Submit my changes' %>
	</div>
<% end %>
