<% @user.password = @user.password_confirmation = nil %>
<%= title "Signup", :h2 %>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend>Your Details</legend>
		<p><%= f.label :name, 'Name' %>
		<%= f.text_field :name %></p>
		
		<p><%= f.label :login, 'Username' %>
		<%= f.text_field :login %></p>
		
		<p><%= f.label :email %>
		<%= f.text_field :email %></p>
		
		<p><%= f.label :password %>
		<%= f.password_field :password %></p>
		
		<p><%= f.label :password_confirmation, 'Confirm Password' %>
		<%= f.password_field :password_confirmation %>	</p>			
	</fieldset>
	<fieldset>
		<legend>Signup with OpenID</legend>
		
		<p><label for="openid_url">OpenID URL</label>
		<%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %></p>
				
	</fieldset>
	<div class="buttons">
		<%= submit_tag 'Sign up' %>
	</div>
<% end %>
