<h2 id="news">News</h2>

<% for news_item in NewsItem.find(:all, :order => "created_at DESC", :limit => 3) %>
	<div class="news_item">
		<h3><%= news_item.title %></h3>
		<p class="byline">By <%= news_item.user.name %></p>
		<%= news_item.excerpt.blank? ? RedCloth.new(truncate(news_item.body(:source), 250)).to_html : news_item.excerpt %>
		<div class="comment_count"><a href="/news_items/<%= news_item.id %>" title="<%= news_item.comments.count %> comments"><%= news_item.comments.count rescue 0 %></a></div>
		<p class="continue"><%= link_to "Continue Reading -&gt;", news_item_path(news_item) %></p>
	</div>
<% end %>