<h2>New news_item</h2>

<% form_for(@news_item) do |f| %>
  <%= f.error_messages %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label :excerpt %>
    <%= f.text_area :excerpt %>

    <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', contribute_path %>
