<div id="news_item">
	<h2><%= @news_item.title %></h2>
	<h4 class="byline">Posted by <%= link_to @news_item.user.name, user_path(@news_item.user) %></h4>
	<div id="body">
	  <%= @news_item.body %>
	</div>
</div>

<div id="comments">
	<h2>Comments</h2>
	<% if @news_item.comments.blank? %>
		<p>This post has no comments</p>
	<% end %>
	
	<%= render :partial => 'shared/comment', :collection => @news_item.comments %>
	
	<%= render :partial => 'shared/comment_form', :locals => {:type => "article"} %>

</div>