<%= title "New Album", :h2 %>

<% form_for(@album) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :artist_id %>:<br />
    <%= f.text_field :artist_id %>
  </p>
  <p>
    <%= f.label :label_id %>:<br />
    <%= f.text_field :label_id %>
  </p>
  <p>
    <%= f.label :name %>:<br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :release_date %>:<br />
    <%= f.text_field :release_date_string %>
  </p>
  <p>
	<label>Rating:</label>
	<%= text_field_tag :score %>
  </p>	
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', albums_path %>