<%= title "New Album", :h2 %>

<% form_for(@album) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :artist_id %>
    <%= text_field_with_auto_complete :artist, :name %>
  </p>
  <p>
    <%= f.label :label_id %>
    <%= text_field_with_auto_complete :label, :name %>
  </p>
  <p>
    <%= f.label :release_date %>
    <%= f.text_field :release_date_string %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', albums_path %>