<%= title "Rate/Review", :h2 %>

<<<<<<< HEAD:app/views/albums/review.html.erb
<p>
	<%= @artist.name %>
</p>
<p>
	<%= @album.name %>
</p>
<p>
	<%= @label.name %>
</p>
<p>
	<%= @album.release_date %>
</p>
=======
<div id="review_form_info">
	<div class="artist"><%= @album.artist.name %></div>
	<div class="album"><%= @album.name %></div>
	<div class="label"><%= @album.label.name %></div>
	<div class="release"><%= @album.release_date %></div>
</div>
>>>>>>> 2fe5b96893c2280282e598f7b9b532e22f05eddb:app/views/albums/review.html.erb

<<<<<<< HEAD:app/views/albums/review.html.erb
<% form_for @album, create_review_album_path do |f| %>
  <%= f.error_messages %>
=======
<% form_for @rating do |f| %>
	<%= f.error_messages %>
>>>>>>> 2fe5b96893c2280282e598f7b9b532e22f05eddb:app/views/albums/review.html.erb

<<<<<<< HEAD:app/views/albums/review.html.erb
  <p>
=======
>>>>>>> 2fe5b96893c2280282e598f7b9b532e22f05eddb:app/views/albums/review.html.erb
	<label>Rating:</label>
<<<<<<< HEAD:app/views/albums/review.html.erb
	<%= select_tag :score, "<option></option><option>1</option><option>2</option>
							<option>3</option><option>4</option>
							<option>5</option><option>6</option>
							<option>7</option><option>8</option>
							<option>9</option><option>10</option>" %>
  </p>
<% if current_user.has_role?('editor') %>
	<p>
		<label>Review:</label><br />
		<%= text_area_tag :review %>
	</p>
<% end %>
	<p>
	<%= hidden_field :album, :name %>
	</p>
  <p>
    <%= f.submit "Submit" %>
  </p>
=======
	<%= f.select :score, 1..10 %>

	<% if current_user.has_role?('editor') %>
		<% fields_for Review.new do |r| %>
			<%= r.error_messages %>
			<label>Review:</label>
			<%= r.text_area :body %>
		<% end %>
	<% end %>
	
	<%= hidden_field_tag :album, @album.id %>
	
	<p><%= f.submit "Submit" %></p>
>>>>>>> 2fe5b96893c2280282e598f7b9b532e22f05eddb:app/views/albums/review.html.erb
<% end %>