<%= title "Review " + @album.name + " by " + @album.artist.name, :h2 %>

<% form_for @rating do |f| %>
	<%= f.error_messages %>

	<label>On a scale of 1-10, how would you rate this album?</label>
	<%= f.select :score, 1..10 %>

	<% if current_user.has_role?('editor') %>
		<label>What genre or genres would you say <%= @album.name %> falls under? <br />
			<small>Please use commas to separate genres (e.g., metal, death metal, noise)</small></label>
		<%= text_field_tag :tag_list %>
			
		<% fields_for Review.new do |r| %>
			<%= r.error_messages %>
			<label>Your review of <%= @album.name %>:</label>
			<%= r.text_area :body %>
		<% end %>
	<% end %>
	
	<%= hidden_field_tag :album, @album.id %>
	
	<p><%= f.submit "Submit" %></p>
<% end %>