<%= title "Review " + @album.name + " by " + @album.artist.name, :h2 %>

<% if @album.release_date > Time.now %>
	<h4>You indicated that this album has not been released yet.</h4>
	<p>If this was a mistake, you can <%= link_to "fix the release date now" %>. If the date is correct and you're simply adding it to the calendar, thanks!</p>
	<h5><%= link_to_function ('But wait! I\'m a big pirating sneak and want to review a leaked copy!', nil, :id => "reviewlink") do |page|
		page.visual_effect :blind_down, "reviewform_display", :duration => ".3"
		page.replace_html :reviewlink, "Nevermind!"
	end %></p>
	<div id="reviewform_display">
<% end %>

<% form_for (@rating) do |f| %>
	<%= f.error_messages %>

	<% if current_user.unrated(@album) %>
		<label>On a scale of 1-10, how would you rate this album?</label>
		<%= f.select :score, 1..5 %>
	<% else %>
		<p>You already rated this album.</p>
	<% end %>

	<% if current_user.has_role?('editor') && current_user.unreviewed(@album) %>
		<label>What genre or genres would you say <%= @album.name %> falls under? <br />
			<small>Please use commas to separate genres (e.g., metal, death metal, noise)</small></label>
		<%= text_field_tag :tag_list %>
		
		<% fields_for Review.new do |r| %>			
			<%= r.error_messages %>
			<%= label :fans_of, "This album is for fans of..." %>
			<%= r.text_field :fans_of %>
			
			<%= label :tweet, "Summarize this album: (100 characters max)" %>
			<%= r.text_area :tweet, :id => "tweet" %>
			<p>You have used <span id="counter">...</span> letters.</p>

			<%= count_field('tweet','counter') %>
			
			<label>Your review of <%= @album.name %>:</label>
			<%= r.text_area :body %>
		<% end %>
	<% else %>
		<p>You already reviewed this album! <%= link_to "View it here.", album_path(@album) %></p>
	<% end %>

	<%= hidden_field_tag :album, @album.id %>


	<% if current_user.unrated(@album) || current_user.unreviewed(@album) %>
		<p><%= f.submit "Submit" %></p>
	<% end %>
<% end %>

<% if @album.release_date > Time.now %>
	</div>
<% end %>