<%= title "Show Album", :h2 %>
<%= image_tag @album.art.url(:show) %>

<p>
  <b>Artist:</b>
  <%=h @album.artist.name unless @album.artist.nil? %>
</p>

<p>
  <b>Label:</b>
  <%=h @album.label.name unless @album.label.nil? %>
</p>

<div id="categories">Genres: 
	<% for tag in @album.tags %>
		<%= link_to tag, genre_album_path(tag.name) %>
	<% end %>
</div>

<p>
  <b>Name:</b>
  <%=h @album.name %>
</p>

<p>
  <b>Release date:</b>
  <%=h @album.release_date %>
</p>

<p>
	<b>Ratings:</b>
	<%= sprintf ("%.1f", @album.score) %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
