<h2>Editing review</h2>

<% form_for(@review) do |f| %>
  <%= f.error_messages %>
	
	<%= render :partial => 'reviews/form', :locals => {:f => f, :album => @review.album} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @review %> |
<%= link_to 'Back', reviews_path %>
