<%= title "Mixtape Attack Reviews", :h2 %>

<p><%= will_paginate @reviews %></p>

<% for review in @reviews %>
	<div class="list_review clearfix">
		<a href="/albums/<%= review.album.id %>"><%= image_tag review.album.art.url(:frontlist) %></a>
		<h3><strong><%= link_to review.album.name, album_path(review.album) %></strong>
			<em>by</em>
			<%= link_to review.album.artist.name, artist_path(review.album.artist) %></h3>
		<div class="genres">
			<% i = 1 %>
			<% for tag in review.album.tags %>
				<%= link_to tag, genre_album_path(CGI::escape(tag.name)) %>
				<%= "&bull" unless i == review.album.tags.count %>
				<% i = i+1 %>
			<% end %>
		</div>
		<div class="tweet"><%= strip_tags(review.tweet) %></div>
		<div class="byline">Reviewed by <%= link_to review.user.name, review.user %></div>
		<div class="readmore"><%= link_to 'Read More &gt;', review_path(review) %></div>
		<div class="score"><%= review.rating %></div>
	</div>
<% end %>

<p><%= will_paginate @reviews %></p>
