<%= title @review.user.name + "'s " + @review.album.name + " review", :h2 %>

<div id="albumart">
	<%= image_tag @review.album.art.url(:show) %>
</div>

<div id="label"><%= released(@review) %> on <%= @review.album.release_date.strftime('%B %e, %Y') %></div>

<div id="genres">
	<strong>Genres:</strong> 
	<% for tag in @review.album.tags %>
		<%= link_to tag, genre_album_path(tag.name) %>
	<% end %>
</div>

<div id="scores">
	<%= @review.decimal_score %>
</div>

<div id="body">
	<%= @review.body %>
</div>

<% content_for :contextual do %>
	<%= other_albums(@review.album) unless @review.album.artist.albums.count.to_i < 2 %>

	<%= other_reviews(@review.user) unless @review.user.reviews.count.to_i < 2 %>
<% end %>