<% @page_title = @review.album.artist.name + " - " + @review.album.name %>

<div id="review">
	<div class="type">Album Review</div>	
	
	<%= image_tag @review.album.art.url(:featured), :id => "art" %>
	<div id="scores"><em>Rating:</em> <%= @review.rating %>/5</div>
	<div id="tweet"><%= @review.tweet %></div>

	<h2><strong><%= link_to @review.album.name, album_path(@review.album), :title => "All reviews for #{@review.album.name}" %></strong>
		<em>by</em>
		<%= link_to @review.album.artist.name, artist_path(@review.album.artist), :title => "More info on #{@review.album.artist.name}" %>
	</h2>	
	
	<div id="date">Released <%= @review.album.release_date.strftime('%B %e, %Y') %> by <%= link_to @review.album.label.name, @review.album.label rescue nil %></div>
	<div class="genres">
		<% i = 1 %>
		<% for tag in @review.album.tags %>
			<%= link_to tag, genre_album_path(CGI::escape(tag.name)) %>
			<%= "&bull" unless i == @review.album.tags.count %>
			<% i = i+1 %>
		<% end %>
	</div>
	<div id="body">
		<%= @review.body %>
	</div>	
	
	<div id="byline">Reviewed by <%= link_to @review.user.name, @review.user %></div>
	<div id="fans_of">For fans of: <%= @review.fans_of %></div>
	
</div>

<div id="comments">
	<h2>Comments</h2>
	<% if @review.comments.blank? %>
		<p>This review has no comments</p>
	<% end %>
	
	<%= render :partial => 'shared/comment', :collection => @review.comments %>
	
	<%= render :partial => 'shared/comment_form', :locals => {:type => "review"} %>
</div>

<% content_for :contextual do %>
	<h2 id="other_info">Other Info</h2>
	<%= other_albums(@review.album) unless @review.album.artist.albums.count.to_i < 2 %>

	<%= other_reviews(@review.user) unless @review.user.reviews.count.to_i < 2 %>
<% end %>