<div id="login_slider" style="display: none;">
	<div id="inner_slider">
		<h3>Login here, jerknuts</h3>
		<% form_tag session_path do -%>
			<label for="login">Login</label>
			<%= text_field_tag 'login' %>

			<label for="password">Password</label>
			<%= password_field_tag 'password' %>
			
 			<label for="openid">Or log in with your OpenID URL</label>
			<%= text_field_tag 'openid_url' %></p>
	
			<p class="remember"><%= check_box_tag 'remember_me' %> <label for="remember_me" class="remember">Remember me:</label></p>

			<p class="forgot"><a href="/forgot_password">Forgot your password?</a></p>
		
			<%= submit_tag 'Log in' %>
		
			<p class="close_login"><%= link_to_function("Close", nil) do |page|
				page.visual_effect :toggle_appear, 'login_slider', :duration => 0.7
		 	end %></p>
		<% end %>
	</div>
</div>