<%= render :partial => 'layouts/doctype' %>
<%= render :partial => 'layouts/head' %>

<body>
	<div id="flash_messages">
		<div class="container">
			<%= flash_messages %>
		</div>
	</div>

		
	<%= render :partial => 'layouts/hero' %>
	
	<div id="main_content" class="container">
		<div id="content">
			<%= yield :layout %>
		</div>
		
		<div id="contextual">
			<%= (contextual = yield :contextual) ? contextual : render(:partial => 'layouts/news') %>
			<div id="square_ad">
				<script type="text/javascript"><!--
				google_ad_client = "pub-4842474752771191";
				/* 300x250, mixtape contextual */
				google_ad_slot = "0103515803";
				google_ad_width = 300;
				google_ad_height = 250;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
		</div>
	</div>
	
	<div id="sub_content">
		<div class="container">
			
			<%= render :partial => 'calendar', :collection => @coming_soon, :as => :albums %>

			
			<%#= render :partial => 'layouts/long_ad' %>
			<%= render :partial => 'layouts/footer' %>
		</div>
	</div>

	<%= render :partial => 'layouts/login_box' unless current_user %>
	<%= render :partial => 'layouts/analytics' %>

</body>
</html>

